<div class="publication-read-button" id="publication-read-button-<%= publication.id %>">	
	<%= link_to "既読にする", toggle_read_publication_publication_path(publication), method: :patch, remote: :true, class: "btn btn-info btn-tgl" %>
</div>
