<div class="notifications" data-notification="<%= project_path(notification.project) %>" id="#{notification.id}">
	<%= notification.content %><br/>
	案件名：<%= notification.project.project_name %>様
</div>