<div id="tab-panel">
  <ul class="nav nav-tabs">
    <li class="nav-show nav-selected" id="nav-msg"><%= link_to '利用者一覧', root_path %></li>
    <li class="nav-show" id="nav-file"><%= link_to '事業所一覧', contacts_path %></li>
  </ul>
</div>