<div id="footer">
	<div id="push"></div>
	<footer class="page-footer">
		<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<h5>Colibri.jpについて</h5>
				<p>介護従事者の皆様と同じチームであるとの思いを強く持ち、全力でサービスを改善していきます！</p>
			</div>
			<div class="col-md-6">
				<h5>サイトマップ</h5>
				<ul>
					<li>Colibri.jp</li>
					<li>ご利用条件</li>
					<li>お問い合わせ</li>
				</ul>
			</div>
			
		</div>
		</div>
	</footer>
</div>

