<div id="tab-panel">
  <ul class="nav nav-tabs">
  	<li class="nav-show nav-selected" id="nav-timeline"><%= link_to 'タイムライン', timelines_path, class: "nav-url", id: "timeline-url" %></li>
    <li class="nav-show" id="nav-projects"><%= link_to '利用者一覧', projects_path, class: "nav-url", id: "projects-url" %></li>
    <li class="nav-show" id="nav-contacts"><%= link_to '事業所一覧', contacts_path, class: "nav-url", id: "contacts-url" %></li>
  </ul>
</div>