<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style type="text/css" media="screen">
          .email-body { background-image: linear-gradient(140deg, #5bde7a, #5bc0de); padding-top: 30px; padding-bottom: 30px;}
          .email-content {max-width: 500px; margin: auto; padding:30px; background-color:#fff;}
          a {text-align: center; display: block, text-decoration: none; color: #fff, background-color: #5bc0de ; border-radius: 2px}
        </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
