<% @conversations.each do |conversation| %>
	<div class="conversation-form" id="form-<%= conversation.id %>">
		<%= form_for([conversation, conversation.messages.build]) do |f| %>
			<div class="new-message-block">
				<p class="form_group send-message-text-area-container">
				  <%= f.text_area :content, class: 'form-control', :required => 'required', placeholder: '新しいメッセージ' %>
				</p>
				<p class="form_group send-message-button-container">
				  <%= f.submit '  送る  ', class: 'btn btn-info' %>
				</p>
			</div>

		<% end %>				
	</div>
<% end %>


