<% @conversations.each do |conversation| %>
	<div class="conversation-form" data-conversation-id="<%= conversation.id %>">
		<%= form_for([conversation, conversation.messages.build]) do |f| %>
			<div class="new-message-block">
				<div class="send-message-text-area">
				  <%= f.text_area :content, :required => 'required', placeholder: '新しいメッセージ' %>
				</div>
				<div class="send-message-button-container">
				  <%= f.submit '', class: 'send-message-button' %>
				</div>
			</div>

		<% end %>				
	</div>
<% end %>


