<table class="table table-striped">
	<tbody>
	<% if @messages.each do |msg| %>
		<tr>
			<td><%= msg.content %></td>
			<td><%= msg.user.try(:email) %></td>
			<td><%= msg.created_at.try(:strftime, '%Y-%m-%d') %></td>	
		</tr>
	<% end.empty? %>
	<% end %>
	</tbody>
</table>