<% @conversations.each do |conversation| %>
	<div class="conversation-messages" id="messages-<%= conversation.id %>" data-conversation-id="<%= conversation.id %>">
		<% conversation.messages.each do |msg| %>
				
		<%= render partial: "messages/message", locals: {msg: msg, conversation: conversation, project: conversation.project} %>
			
		<% end %>
	</div>
<% end %>




