<p><%= @new_leader.username %>様</p>

<p><%= @old_leader.username %>様から'<%= @project.project_name %>'の案件の新しいオーナーと指定されました。</p>

<p>案件のオーナーは、メンバーの管理と案件情報をアップデートする権限を持っています。</p>

<%= link_to '案件を見る', project_url(@project) %>

