<h1>案件情報をアップデートする</h1>

<div class="well">
	<%= render 'edit', project: @project %>
</div>

<div class="well">
	<p>上記の検索エンジンから招待したいユーザーが見つからなかった場合、招待したい方のメールアドレスを記入して下さい。</p>
	<%= render 'memberships/form' %>
</div>


<%= link_to '詳細', @project %> |
<%= link_to '案件一覧へ', projects_path %>
