<div class="container-fluid">

	<div class="well well-top-margin">
	    <h1>案件情報をアップデートする</h1>
	    <div class="project-form-box">
	    	<%= render 'edit', project: @project %>
	    </div>
		
	</div>

	<%= link_to '詳細', @project %> |
	<%= link_to '案件一覧へ', projects_path %>
</div>


