<div class="container-fluid">
	
  <div class="well new-project-well">
  	<h1>新規利用者</h1>

	<div class="new-project-box">
		<%= render 'form', project: @project %>
	</div>
  </div>

  <%= link_to '利用者一覧へ戻る', projects_path %>
</div>

