<div class="container-fluid">

	<%= render 'layouts/projects_app_navigation' %>
	
	<div class="timeline-container">
		  <div class="well well-devise">
		  	<h1>新規利用者</h1>

			<div class="new-project-box">
				<%= render 'form', project: @project %>
			</div>
		  </div>
	</div>

</div>

