<div class="container-fluid">
	
  <div class="well new-project-well">
  	<h1>新規案件</h1>

	<div class="new-project-box">
		<%= render 'form', project: @project %>
	</div>
  </div>

  <%= link_to '案件一覧へ', projects_path %>
</div>

