<div id="delete-reporting-attachment-<%= reporting_attachment.id %>" class="delete-reporting-attachment">
	<%= reporting_attachment.attachment.file.filename %> <%= link_to '消す', reporting_reporting_attachment_path(reporting, reporting_attachment), method: :delete, data: {confirm: 'ファイルがこのレポートから削除されます'}, remote: true %>
</div>