<%= form_for([@project, @project.documents.build], html: {multipart: true} ) do |f| %>
  <p class="form-group">
    <%= f.label :attachment, 'ファイルを選択する' %>
    <%= f.file_field :attachment, class: 'form-control', :required => 'required' %>
  </p>
  <p class="form-group">
    <%= f.submit "アップロード", class: 'btn btn-info' %>
  </p>
<% end %>
