<% @documents.each do |document| %>
  <div>
	<tr>
		<td><%= document.attachment %></td>
		<td><%= link_to "Download", document.attachment_url %></td>
		<td><%= button_to "Delete",  document, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete this file?" %></td>
	</tr> 
  </div>     
