<p><%= @user.username %>様、</p>

<p>新規メッセージが共有されました。</p>

<p>
	メッセージ：<br/>
	<% @notifications.each do |notification| %>
			<%= notification.content %>案件：<%= notification.project.project_name %>様。<%= link_to '案件へ', project_url(notification.project) %><br/>
	<% end %>
</p>