<p><%= @resource.username %>様</p>

<p><%= @resource.email %>のパスワードのリセットの申し込みがプラプラで登録されました。パスワードを変えるには下記の'パスワードを変える'ボタンから変えてください。</p>

<p><%= link_to 'パスワードを変える', edit_password_url(@resource, reset_password_token: @token, subdomain: 'www') %></p>

<p>パスワードのリセットが<%= @resource.username %>様からの申し込みではなかった場合このメールを無視してください。</p>
<p>上記のurlから新しいパスワードを記入しない限りパスワードは変わりません。</p>
