<div class="publication-read-button">	
	<%= link_to "#{ publication_readmark.read ? 'メッセージを未読に変更' : 'メッセージを読みました' }", toggle_read_publication_publication_path(publication), method: :patch, remote: :true, class: "btn-toggle-read" %>
</div>
