/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require token-input-facebook
 */

 @import "bootstrap";

 html,body {
	 height: 100%;
 }

h1 {
	margin-top : 0;
}

.navbar {
	margin-bottom: 0;
}

.navbar-custom {
    background-color:#343d46;
    color:#37474f;
    border-radius:0;
    padding-bottom: 0;
}

.container {
	margin-bottom: 0;
}

.background-pattern{
	background: image-url('asanoha.png');
	height: 100%;
}

#brand {
	color:#ffffff;
	font-size: 2.1em;
	vertical-align: center;
}

#brand:hover {
	color:#ffffff;
	font-size: 2.1em;
	vertical-align: center;
	background-color: #000000;
	text-decoration: none;
}

.navbar .container #navbar .nav-item {
	color:#ffffff;
	font-size: 1em;
	vertical-align: center;
}

.navbar .container #navbar .nav-item:hover {
	color:#ffffff;
	font-size: 1em;
	vertical-align: center;
	background-color: #000000;
}

.navbar .container #navbar li.nav-item {
	color:#ffffff;
	font-size: 1em;
	vertical-align: center;
}

.navbar .container #navbar li.nav-item:hover {
	color:#ffffff;
	font-size: 1em;
	vertical-align: center;
	background-color: #000000;
}

#navbar-username {
	font-size: 1em;
	color:#ffffff;
	vertical-align: center;
	height: 100%;
}


#tab-panel {
	padding-top: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	font-size: 2em;
	display: table;
}

ul.nav.nav-tabs {
	list-style: none;
	text-align: center;
	border-bottom: 0px;
}

li a.nav-url {
	margin-right: 0px;
	color: #343d46;
	border: 0px;
}

li a.nav-url:hover {
	background-color: transparent;
	border-radius: 0px;
	margin-right: 0px;
	color: #65737e;
}


.nav-show {
	font-size: 1.6em;
	display: inline;
	font-color: #4f5b66;
	width: 7.7em;
	margin-left: 5px;
	margin-right: 5px;
	padding-right: 0px;
}

.nav-show:hover {
	cursor: pointer;
	background-color: transparent;
	border-bottom: 4px solid #ddd;
}

.nav-selected {
	border-bottom: 4px solid #5bc0de;
	font-color: #000;
}

.well-top-margin {
	margin-top: 20px;
}

#flash {
	margin-bottom: 0;
}

.alert-notice {
	background-color: #56ca4a;
	color: #000000;
	border-radius: 0;
	font-size: 1em;
	margin-bottom: 0;
}

.alert-alert {
	background-color: #ffd633;
	color: #000000;
	border-radius: 0;
	font-size: 1em;
	margin-bottom: 0;
}

li {
	list-style-type: none;
}

textarea {
	resize: none;
	height: 100%;
	width: 100%;
	border-radius: 0;
	border: none;
	padding: 5px;
}

textarea:focus {
	outline: none;
}

input:focus {
	outline: none;
}



.project-header-button {
  font: bold 1em;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #444444;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.project-header-button:hover {
	cursor: pointer;
	background-color: #EEEEEE;
}



#notification-button {
	color: #fff;
	height: 50px;
	vertical-align: middle;
	line-height: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

#notification-list {
	padding-left: 0px;
}

#notification-button:hover {
	cursor: pointer;
	background: #000;
}


#notification-count-container {
	background: #d62d20;
	width: 14px;
	height: 16px;
	border-radius: 2px;
	style: inline;
	text-align:center;
}

#noticiation-count {
	color: #fff;
	font-size: 0.2em; 
}

#notification-container {
	width: 320px;
	max-height: 150px;
	overflow-x: hidden;
	background: white;
	border: 1px solid #bbb;
	position: relative;
	color: #000;
}

li.notification-list-element {
	border-bottom: 1px solid #bbb;
}

.notification-hidden {
	display:none;
}

.notifications {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.notifications:hover {
	cursor: pointer;
	background: #ddd;
	border-left: 3px solid #5bc0de;
} 

.notfication-icon {
	float:left;
}

.delete-publication-reporting-button {
	background: url(trash.png);
}

body {
	background: url('giftly.png');
	background-position: fixed;
	background-repeat: repeat;
}

.timeline-container {
	max-width: 850px;
	margin-left: auto;
	margin-right: auto;
}