// Place all the styles related to the Contact controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#contact-index-table tr:hover {
	cursor: pointer;
	background-color: #FDF7F7;
}

#contact-show-block {
	max-width: 850px;
	margin-left: auto;
	margin-right: auto;
	border: 0.75px solid #ddd;
	outline: none;
	padding-bottom: 15px;
	border-radius: 3px;
	background-color: #fff;
	margin-bottom: 20px;
}

#contact-information-container {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	background-color: #f8f8fa;
	border-bottom: 0.5px solid #ddd;
}

.btn.btn-info.btn-reporting {
	color: white;
	margin-bottom: 15px;
}

#contact-reporting-container {
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 10px;
}

#contact-reporting-list　{
	padding-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
}


#preview-title {
	border-bottom: 1px solid #eee;
}

#preview-attachment {
	border-top: 1px solid #eee;
}

#confirm-action-container {
	text-align: center;
}

#confirm-other-buttons-container {
	margin-top: 20px;
}

#invite-by-mail-or-name-text {
	text-align: center;
}

span.confirm-preview-label {
	color: #4f5b66;
}

#invite-box {
	margin-top: 40px;
	display: flex;
	justify-content: space-around;
}

#invite-by-name {
	text-align: center;
	font-weight: bold;
}

#invite-by-name:hover {
	cursor:pointer
}

#invite-by-mail {
	text-align: center;
	font-weight: bold;
}

#invite-by-mail:hover {
	cursor:pointer;
}

#back　{
	color: blue;
	text-decoration: underline;
}

#back:hover {
	cursor: pointer;
}

