// Place all the styles related to the Documents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home {
	position:relative;
	background-image:linear-gradient(140deg, #fff, #fdeaea);
	padding-bottom: 50px;
}

.sign-in {
	width :340px;
	float: left;
	position:absolute;
    right: 45px;
    top: 60px;
	background-color: #fff;
	padding: 15px;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.well-devise {
	margin: 20px;
}

.sign-up-invited {
	max-width :800px;
	position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
	background-color: #F6F6F6;
	padding: 25px;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.sign-up-invited-head {
	text-align: center;
}

.sign-up-invited-box {
	max-width: 340px;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
}

.form-box {
	max-width: 400px;
}

#top-message-container {
	margin-right: 420px;
	margin-left: 40px;
	margin-top: 70 px;
}

#top-message {
	height: 620px;
	padding-top: 30px;
}

#top-message-idea {
	padding-top: 130px;
	font-weight: bold;
	font-size: 3em;
	line-height: 45px;
	color: #343d46;
}

#top-message-content {
	font-size: 2.1em;
	line-height: 30px;
	margin-top: 35px;
	color: #343d46;
}

a.btn.btn-info.scroll-home {
	color: #fff;
}

.top-message {
	height: 300px;
}

.top-message-idea {
	font-size: 2em;
	line-height: 30px;
	font-weight: bold;
}

.top-message-content {
	font-size: 1.6em;
	line-height: 23px;
}

.what-we-do {
	text-align: center;
	font-size: 1.6em;
	line-height: 23px;
	padding-bottom: 70px;
}

