// Place all the styles related to the Memberships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.membership-new-well {
	margin-top: 20px;
}

.membership-index-well {
	margin-top: 20px;
}

.membership-new-form {
	max-width: 300px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.membership-form {
	max-width: 400px;
}

.member-update {
	margin-top: 10px;
}
