// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.messages {
	position: relative;
	border-radius: .4em;
	margin: 5px;
	margin-top: 7px;
	margin-bottom: 7px;
	display: flex;
	flex-direction: row;
}

.messages.message-received {
}

.messages.message-sent {
	flex-direction: row-reverse;
}

.message-info {
	font-size: 0.8em;
	color: #bbb;
	display: table-cell;
	vertical-align: bottom;
	order: 2;
	margin-right: 5px;
	margin-left: 5px;
}

.message-info.self-info {
	text-align: right;
}

.message-username {
	font-size: 0.8em;
	color: #aaa;
	text-align: left;
	margin-left: 5px;
}

.message-username.self {
	text-align: right;
	margin-right: 5px;
}

.message-content {
	font-size: 1em;
	display: inline-block;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 6px;
	padding-bottom: 6px;
	position: relative;
	right: 0;
	order: 1;
	max-width: 80%;
	background-color: #eee;
}

.message-content.sent {
	background-color: #cceae7;
}

.message-content.received {
}

.message-content:before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-right-color: #eee;
	border-left: 0;
	border-top: 0;
	margin-top: -3px;
	margin-left: -6px;
}

.message-content.sent:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-left-color: #cceae7;
	border-right: 0;
	border-top: 0;
	margin-top: -3px;
	margin-right: -6px;
}

.message-content.sent:before{
	display:none;
}



.form_group {
	margin-top: 10px;
}

.conversation-messages {
	overflow: auto;
	position: absolute;
	bottom: 0;
	width: 100%;
	max-height: 100%;
	overflow-x: hidden;
	padding-left: 5px;
	padding-right: 5px;
	border: none;
}


