// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#project-index-table tr:hover {
	cursor: pointer;
	background-color: #cceae7;
}

#btn-home {
	color: #fff;
}

.btn.btn-info.spec-button {
	color: white;
	margin-bottom: 10px;
}

.h1-top-margin {
	margin-top: 20px;
}

.new-project-well {
	margin-top: 20px;
}

.new-project-box {
	margin-top: 25px;
	max-width: 350px;
}

.project-form-box {
	max-width: 300px;
}

.well-edit-leader {
	margin-top: 20px;
}

.project-top {
	background-color: #4f5b66;
	color: #ffffff;
	padding: 20px;
	padding-left: 45px;
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
}

#member-button {
	margin-top: 10px;
}

.background-pattern {
}

.container-fluid.show{
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

#tab-panel {
	padding-top: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	font-size: 2em;
	display: table;
}

ul.nav.nav-tabs {
	list-style: none;
	text-align: center;
}

.nav-show {
	padding: 9px;
	font-size: 1.6em;
	display: inline;
	font-color: #4f5b66;
}

.nav-show:hover {
	cursor: pointer;
	border-bottom: 4px solid #cceae7 ;
}

.nav-selected {
	border-bottom: 4px solid #5bc0de;
	font-color: #000;
}

.project-well {
	margin-top: 20px;
	display: flex;
	height: 340px;
}

#well-msg {
	padding: 0;
}

.well-hide {
	display: none;
}

.container-fluid.show-container {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 60px;
	padding-right: 60px;
}

#message-list {
	max-height: 350px;
	overflow: auto;
	border: 2px solid #ddd;
	border-radius: 2px;
}

#documents-list{
	max-height: 280px;
	overflow: auto;
}


#conversation-nav {
	height:100%;
	width: 170px;
}

ul#conversation-nav-list {
	padding: 0px;
	list-style-type: none;
}

ul#conversation-member-list {
	padding: 0px;
	list-style-type: none;
}

li.conversation-list {
	list-style-type: none;
	padding-left: 10px;
	padding-top: 5px;
	padding-right: 10 px;
	padding-bottom: 5px;
}

li.conversation-selected {
}

li.conversation-list:hover {
}

.new-message-block {
	display: flex;
	height: 60px;
}

div.send-message-text-area {
	flex-grow: 1;
	height: 100%;
	margin: 0;
}

div.send-message-button-container {
	width: 70px;
	background-color: #fff;
	margin: 0;
}

.send-message-button {
	background: image-url('send-button.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-color: #fff;
	margin: 0 auto;
	height: 60px;
	width: 70px;
	border: none;
	padding: 0;
}

#message-block {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}


#message-list {
	flex-grow: 1;
	background-color: white;
	overflow: none;
	position: relative;
	width: 100%;
	border: none;
	margin-top: 2px;
	margin-right: 2px;
}

#message-form {
	max-height: 150px;
	width: 100%;
	border-top: 1px solid #eee;
	margin-right: 2px;
	margin-bottom: 2px;
}

#document-list {
	max-height: 350px;
	overflow: auto;
}

#specs-list {
	max-height: 250px;
	overflow: auto;
}

.membership-form {
	max-width: 400px;
}

.online_status:after {
	content: "";
	font-size: 1.3em;
	color: #ffd633;
	transition: color 1s ease;
}

.online_status.online:after {
	color: #56ca4a;
}

input.send-message-button {
	-webkit-appearance:none;
}

.modal {
	position: fixed; /* stay in place */
	z-index: 1; /* sit on top */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0); /* fallback color */
	background-color: rgba(0,0,0,0.4); /* black with opacity */
}

.well.modal-well {
	margin-bottom: 1px;
	padding: 20px;
}

/* Modal Content/Box */
.modal-content {
	margin-top: 15%;
	max-width: 400px;
	margin-left: auto;
	margin-right:auto;
}

.close{
	color: #000;
	float: right;
}

.checkbox_container input {
  display: inline;
}

#copy-background {
	position: fixed; /* stay in place */
	z-index: 1; /* sit on top */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0); /* fallback color */
	background-color: rgba(0,0,0,0);
}

#copy {
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	border: 1px solid #ccc;
	position: absolute;
	background: #eee;
	color: #000;
}

#copy:hover {
	cursor: pointer;
}

.table-head-specs {
	text-align : right;
	padding-right : 15px;
}




