// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-top {
	background-color: #4f5b66;
	color: #ffffff;
	padding: 30px;
	padding-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
}

#message-list {
	max-height: 350px;
	overflow: auto;
}

#document-list {
	max-height: 350px;
	overflow: auto;
}

