// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#message-list {
	max-height: 500px;
	overflow: auto;
}

#document-list {
	max-height: 500px;
	overflow: auto;
}