// Place all the styles related to the reportings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.edit-reporting {
	margin-top: 30px;
}


.btn-to-center {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.delete-reporting-attachment {
	margin-left: 20px;
}

#delete-reporting-file　{
	margin-bottom: 30px;
}

#add-reporting-file {
	margin-bottom: 30px;
}