// Place all the styles related to the reportings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#edit-reporting-block {
	margin-left: 20px;
	margin-right: 20px;
}

.edit-reporting {
	margin-top: 30px;
}

a#reporting-file-upload-btn.project-header-button {
	width: 130px;
}


.btn-to-center {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.delete-reporting-attachment {
	margin-left: 20px;
}

#delete-reporting-file {
	margin-bottom: 30px;
	margin-top: 20px;
}

#add-reporting-file {
	margin-bottom: 30px;
}

#reporting-add-file-btn {
	width: 140px;
}

#add-reporting-attachment-section {
	display: flex;
}

#add-file-display {
	margin-left : 10px;
}

p.reporting-read {
	color: #106F1C;
}

p.reporting-unread {
	color: black;
}

.reporting-header-left {
	display: table-row;
}

.reporting-publisher-avatar {
	display: table-cell;
}

.reporting-message {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 30px;
}