
	<%= form_for([@project, @project.memberships.build]) do |f| %>
		<p class="form_group">
		  	<%= f.label :email, 'メールアドレスからメンバーを招待する:' %>
	    	<%= f.text_field :email, required: true %>
		</p>
		<br/>
		<p class="form_group">
		    <%= f.submit '招待する', class: 'btn btn-info' %>
		</p>
	<% end %>





	