<%= form_for @membership, url: membership_update_members_path(@project) do |f| %>

	<p class="form_group">
		<%= f.label :email, 'メールアドレスから招待する:' %><br/>
	    <%= f.text_field :email, class: "form-control" %>
	</p>

	<p class="form_group">
		<%= f.submit '招待する', class: 'btn btn-info' %>
	</p>

<% end %>