<div class="container-fluid membership-new-well">
	<div class="well">
		<p>'<%= @project.project_name %>'にメンバーを招待する。</p>
		<div class="membership-new-form">
			<%= render 'form' %>
		</div>
	</div>
</div>





