
  <div id="top-message-container">
    <div class="top-message message-left">
      <p class="top-message-idea">小さな気付きを共有しやすいサービス</p>
      <p class="top-message-content">電話するほど大事ではないし、メールするのは億劫。<br/>でも、そんな小さな気付きの蓄積による介護サービスが、<br/>利用者様方は一番嬉しいのです。</p>
      <a class="btn btn-info scroll-home" href="#">無料で担当者達と仕事を始めましょう！</a>
    </div>
    <div class="top-message message-right">
      <p class="top-message-idea">ペーパーレスへ</p>
      <p class="top-message-content">貴重な時間を書類整理、送付の時間に使うのはもったいない。<br/>利用者様方との時間を増やしましょう。</p>
      <a class="btn btn-info scroll-home" href="#">無料で担当者達と仕事を始めましょう！</a>
    </div>
    <div class="top-message message-left">
      <p class="top-message-idea">必要最小限の機能を驚くほど使いやすく</p>
      <p class="top-message-content">皆様がご利用しているソフトウェアの<br/>100分の1の機能しかないかもしれません。<br/>でも、必要な機能はそれだけのはずです。</p>
      <a class="btn btn-info scroll-home" href="#">無料で担当者達と仕事を始めましょう！</a>
    </div>
    <div class="top-message message-right">
      <p class="top-message-idea">他事業所が同じソフトウェアを利用していれば。。。</p>
      <p class="top-message-content">そんな悩みを解決します！<br/>メールで招待状を送った瞬間から、<br/>担当者間で同じソフトウェアを利用できます。</p>
      <a class="btn btn-info scroll-home" href="#">無料で担当者達と仕事を始めましょう！</a>
    </div>
    <div class="top-message message-left">
      <p class="top-message-idea">担当者が変更。引継ぐ情報は全てこの中に</p>
      <p class="top-message-content">もちろん、重要な情報は担当者間で会話をし、引継ぎをしてください。<br/>その他の、顔を合わせなくても良い情報は、プラプラで共有しましょう。</p>
      <a class="btn btn-info scroll-home" href="#">無料で担当者達と仕事を始めましょう！</a>
    </div>
    <div class="top-message message-right">
      <p class="top-message-idea">安全性を向上</p>
      <p class="top-message-content">人為的ミスの発生しやすい状況を減らしましょう。<br/>世界中の大企業が導入しているサーバーAWSを利用し、<br/>安全性には細心の注意を払います。</p>
      <a class="btn btn-info scroll-home" href="#">無料で担当者達と仕事を始めましょう！</a>
    </div>
    <div class="what-we-do">
          高齢先進国である日本の介護。<br/>利用者様方のために、全員がより良いサービスを日々提供しようと努めています。<br/>しかしながら同時に、高齢先進国の日本が、<br/>新しい働き方を世界へ発信する義務があると信じています。<br/>なぜなら、高齢化は世界の課題となるからです。<br/>
          <br/>
    <a class="btn btn-info scroll-home" href="#">無料で担当者達と仕事を始めましょう！</a>
    </div> 
    
  </div>